//Microsoft Developer Studio generated resource script.
//
#include "resource.h"

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON00              ICON    DISCARDABLE     "meditor.ico"
IDI_ICON01              ICON    DISCARDABLE     "icons.large\\avi.ico"
IDI_ICON02              ICON    DISCARDABLE     "icons.large\\flv.ico"
IDI_ICON03              ICON    DISCARDABLE     "icons.large\\mkv.ico"
IDI_ICON04              ICON    DISCARDABLE     "icons.large\\ogm.ico"
IDI_ICON05              ICON    DISCARDABLE     "icons.large\\dat.ico"
IDI_ICON06              ICON    DISCARDABLE     "icons.large\\mp4.ico"
IDI_ICON07              ICON    DISCARDABLE     "icons.large\\mpeg.ico"
IDI_ICON08              ICON    DISCARDABLE     "icons.large\\mpeg.ico"
IDI_ICON09              ICON    DISCARDABLE     "icons.large\\ts.ico"
IDI_ICON10              ICON    DISCARDABLE     "icons.large\\tp.ico"
IDI_ICON11              ICON    DISCARDABLE     "icons.large\\vob.ico"
IDI_ICON12              ICON    DISCARDABLE     "icons.large\\mov.ico"
IDI_ICON13              ICON    DISCARDABLE     "icons.large\\3gp.ico"
IDI_ICON14              ICON    DISCARDABLE     "icons.large\\rm.ico"
IDI_ICON15              ICON    DISCARDABLE     "icons.large\\rmvb.ico"
IDI_ICON16              ICON    DISCARDABLE     "icons.large\\asf.ico"
IDI_ICON17              ICON    DISCARDABLE     "icons.large\\wmv.ico"
IDI_ICON18              ICON    DISCARDABLE     "icons.large\\aac.ico"
IDI_ICON19              ICON    DISCARDABLE     "icons.large\\ac3.ico"
IDI_ICON20              ICON    DISCARDABLE     "icons.large\\amr.ico"
IDI_ICON21              ICON    DISCARDABLE     "icons.large\\dts.ico"
IDI_ICON22              ICON    DISCARDABLE     "icons.large\\flac.ico"
IDI_ICON23              ICON    DISCARDABLE     "icons.large\\m4a.ico"
IDI_ICON24              ICON    DISCARDABLE     "icons.large\\mp3.ico"
IDI_ICON25              ICON    DISCARDABLE     "icons.large\\mpa.ico"
IDI_ICON26              ICON    DISCARDABLE     "icons.large\\mpc.ico"
IDI_ICON27              ICON    DISCARDABLE     "icons.large\\mka.ico"
IDI_ICON28              ICON    DISCARDABLE     "icons.large\\ogg.ico"
IDI_ICON29              ICON    DISCARDABLE     "icons.large\\ra.ico"
IDI_ICON30              ICON    DISCARDABLE     "icons.large\\wav.ico"
IDI_ICON31              ICON    DISCARDABLE     "icons.large\\wma.ico"
IDI_ICON32              ICON    DISCARDABLE     "icons.large\\m3u.ico"
IDI_ICON33              ICON    DISCARDABLE     "icons.large\\m3u8.ico"
IDI_ICON34              ICON    DISCARDABLE     "icons.large\\pls.ico"
IDI_ICON35              ICON    DISCARDABLE     "icons.large\\video.ico"
IDI_ICON36              ICON    DISCARDABLE     "icons.large\\audio.ico"
IDI_ICON37              ICON    DISCARDABLE     "icons.large\\list.ico"

