//Microsoft Developer Studio generated resource script.
//
#include "resource.h"

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON00              ICON    DISCARDABLE     "icons\\swf.ico"
IDI_ICON01              ICON    DISCARDABLE     "icons\\avi.ico"
IDI_ICON02              ICON    DISCARDABLE     "icons\\flv.ico"
IDI_ICON03              ICON    DISCARDABLE     "icons\\mkv.ico"
IDI_ICON04              ICON    DISCARDABLE     "icons\\ogm.ico"
IDI_ICON05              ICON    DISCARDABLE     "icons\\dat.ico"
IDI_ICON06              ICON    DISCARDABLE     "icons\\mp4.ico"
IDI_ICON07              ICON    DISCARDABLE     "icons\\mpeg.ico"
IDI_ICON08              ICON    DISCARDABLE     "icons\\mpeg.ico"
IDI_ICON09              ICON    DISCARDABLE     "icons\\ts.ico"
IDI_ICON10              ICON    DISCARDABLE     "icons\\tp.ico"
IDI_ICON11              ICON    DISCARDABLE     "icons\\vob.ico"
IDI_ICON12              ICON    DISCARDABLE     "icons\\mov.ico"
IDI_ICON13              ICON    DISCARDABLE     "icons\\3gp.ico"
IDI_ICON14              ICON    DISCARDABLE     "icons\\rm.ico"
IDI_ICON15              ICON    DISCARDABLE     "icons\\rmvb.ico"
IDI_ICON16              ICON    DISCARDABLE     "icons\\asf.ico"
IDI_ICON17              ICON    DISCARDABLE     "icons\\wmv.ico"
IDI_ICON18              ICON    DISCARDABLE     "icons\\aac.ico"
IDI_ICON19              ICON    DISCARDABLE     "icons\\ac3.ico"
IDI_ICON20              ICON    DISCARDABLE     "icons\\amr.ico"
IDI_ICON21              ICON    DISCARDABLE     "icons\\dts.ico"
IDI_ICON22              ICON    DISCARDABLE     "icons\\flac.ico"
IDI_ICON23              ICON    DISCARDABLE     "icons\\m4a.ico"
IDI_ICON24              ICON    DISCARDABLE     "icons\\mp3.ico"
IDI_ICON25              ICON    DISCARDABLE     "icons\\mpa.ico"
IDI_ICON26              ICON    DISCARDABLE     "icons\\mpc.ico"
IDI_ICON27              ICON    DISCARDABLE     "icons\\mka.ico"
IDI_ICON28              ICON    DISCARDABLE     "icons\\ogg.ico"
IDI_ICON29              ICON    DISCARDABLE     "icons\\ra.ico"
IDI_ICON30              ICON    DISCARDABLE     "icons\\wav.ico"
IDI_ICON31              ICON    DISCARDABLE     "icons\\wma.ico"
IDI_ICON32              ICON    DISCARDABLE     "icons\\m3u.ico"
IDI_ICON33              ICON    DISCARDABLE     "icons\\m3u8.ico"
IDI_ICON34              ICON    DISCARDABLE     "icons\\pls.ico"
IDI_ICON35              ICON    DISCARDABLE     "icons\\video.ico"
IDI_ICON36              ICON    DISCARDABLE     "icons\\audio.ico"
IDI_ICON37              ICON    DISCARDABLE     "icons\\list.ico"
IDI_ICON38              ICON    DISCARDABLE     "icons\\pmp.ico"

