*~
*.a
*.ncb
*.suo
*.diff
*.lib
*.dll*
*.obj
*.pdb
*.idb
*.dep
*.mo
*.o
*.ncb
*.ipch
*.sdf
*.opensdf
*.suo
*.aps
*.user
*.pc
*.pot
*.so*
*.swp
*.ipch
.svn
lib
Bin
Debug
Release
Debug Unicode
Release Unicode

/MEditor2/res/codecs.7z

/Libs/7z/Util/7z/7zCrcOpt.asm
/Libs/7z/Util/7z/7zMain.asm
/Libs/7z/Util/7z/CpuArch.asm
/Libs/7z/Util/7z/Lzma2Dec.asm
/Libs/7z/Util/7z/Ppmd7.asm
/Libs/7z/Util/7z/Ppmd7Dec.asm
/Libs/7z/Util/7z/7zAlloc.asm
/Libs/7z/Util/7z/7zBuf.asm
/Libs/7z/Util/7z/7zCrc.asm
/Libs/7z/Util/7z/7zDec.asm
/Libs/7z/Util/7z/7zFile.asm
/Libs/7z/Util/7z/7zIn.asm
/Libs/7z/Util/7z/7zStream.asm
/Libs/7z/Util/7z/Bcj2.asm
/Libs/7z/Util/7z/Bra86.asm
/Libs/7z/Util/7z/LzmaDec.asm
